:root {
	--cang: rgb(193,106,3);
}

body {
	background: url(bg.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

* {
	margin: 0;
	padding: 0;
}

.container {
	position: absolute;
	top: 20vw;
	left: 0;
	right: 0;
}

.coffe {
	height: 10vw;
	width: 55vw;
	background-color: #4E2202;
	margin: auto;
	position: absolute;
	left: 0;
	right: 0;
	top: 25vw;
	border-radius: 50%;
	border: 3vw solid #fff;
	z-index: 2;
}

.cup {
	position: absolute;
	background-color: var(--cang);
	height: 65vw;
	width: 60vw;
	margin: auto;
	left: 0;
	right: 0;
	top: 32vw;
	border-bottom-right-radius: 40%;
	border-bottom-left-radius: 40%;
	box-shadow: .5vw  0 1vw rgb( 0, 0, 0, 0.9 );
}

.cup:before {
	content: "";
	position: absolute;
    height: 65vw;
    width: 60vw;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    border-bottom-right-radius: 40%;
    border-bottom-left-radius: 40%;
	box-shadow: inset 1vw 1vw 2vw rgb( 255, 255, 255, 0.7);
}

.handler {
	border: 5vw solid var(--cang);
	background: transparent;
	border-bottom-right-radius: 50%;
	border-top-right-radius: 40%;
	position: absolute;
	left: 60vw;
	right: 0;
	top: 43vw;
	height: 30vw;
	width: 20vw;
	margin: auto;
}

.plate {
	position: absolute;
	top: 88vw;
	left: 0;
	right: 0;
	height: 14vw;
	width: 60vw;
	background-color: var(--cang);
	margin: auto;
	border-radius: 50%;
	box-shadow: 1vw 1vw 2vw #333;
	z-index: -1;
}

.smoke {
	z-index: 4;
	//background-color: #fff;
	width: 60vw;
	height: 30vw;
	margin: auto;
	position: absolute;
	top: 36vw;
	left: 0;
	right: 0;
	display: flex;
	justify-content: space-around;
}

.smoke .s {
	background-color: #eee;
	width: 2vw;
	height: 6vw;
	margin: auto 3vw;
	animation: yadi 1s linear 0s infinite;
}

/*.smoke .s2 {
	margin-left: 6vw;
}

.smoke .s3 {
	margin-left: 13vw;
}

.smoke .s4 {
	margin-left: 18vw;
}*/

@keyframes yadi{
  0%{
    transform:translate3d(0,0,0)scale(1);
    opacity:1;
    }
        
  100%{
  transform:translate3d(0,-200px,0)scale(3);
        opacity:0;
        }
  }

.quotes {
	width: 60vw;
	margin: auto;
	position: absolute;
	left: 0;
	right: 0;
	top: 70vw;
	//font-family: sans-serif;
}

.kata {
	color: #eee;
	text-align: center;
}

.kata.cp {
	margin: 2vw;
	font-size: 8vw;
}

img[alt="www.000webhost.com"]{
	display:none;
}

/* Coded by Gh05tXploit */
/* Copy? Permission ghostxploit12@gmail.com */
